<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="/adminlte/dist/css/adminlte.css">

</head>
    <body class="hold-transition sidebar-mini">
        <!-- Header -->
        <div th:replace="~{fragments/admin-header :: admin-header}"></div>

        <div class="wrapper d-flex" style="width: auto">
            <!-- Sidebar -->
            <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <div th:replace="~{fragments/sidebar :: sidebar}"></div>
            </aside>
            <!-- Content -->
            <div class="content-wrapper w-100" th:if="${contentTemplate != null}">
                <div th:replace="~{${contentTemplate} :: ${contentFragment}}"></div>
            </div>
        </div>
        <script src="/adminlte/dist/js/adminlte.js"></script>

        <script>
            const bannerImg = document.getElementById('bannerImageReal') || document.getElementById('bannerImageDefault');

            document.getElementById('banner').addEventListener('change', function (event) {
                const file = event.target.files[0];

                if (file) {
                    const reader = new FileReader();
                    reader.onload = function (e) {
                        bannerImg.src = e.target.result;
                    };
                    reader.readAsDataURL(file);
                } else {
                    bannerImg.src = '/img/proxy-image.png';
                }
            });
        </script>

        <script>
            const previewImg = document.getElementById('previewImageReal') || document.getElementById('previewImageDefault');

            document.getElementById('preview').addEventListener('change', function (event) {
                const file = event.target.files[0];

                if (file) {
                    const reader = new FileReader();
                    reader.onload = function (e) {
                        previewImg.src = e.target.result;
                    };
                    reader.readAsDataURL(file);
                } else {
                    previewImg.src = '/img/proxy-image.png';
                }
            });
        </script>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                document.querySelectorAll('input, textarea, select').forEach(function (field) {
                    field.addEventListener('input', function () {
                        if (field.checkValidity()) {
                            field.classList.remove('is-invalid');
                        }
                    });

                    field.addEventListener('invalid', function () {
                        field.classList.add('is-invalid');
                    });
                });
            });
        </script>
    </body>
</html>