<link rel="stylesheet" href="/adminlte/dist/css/adminlte.css">
<div th:fragment="content">
    <div class="d-flex justify-content-between align-items-center ms-5 me-5 mt-4 mb-2">
        <h1 class="fs-4 mb-0">Редагування послуги</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a th:href="@{/}">Головна</a></li>
                <li class="breadcrumb-item"><a th:href="@{/services}">Послуги</a></li>
                <li class="breadcrumb-item active" aria-current="page">Редагування</li>
            </ol>
        </nav>
    </div>
    <hr class=" mb-4 ">
    <div class="card shadow-sm ms-5 me-5">
        <div class="card-body">
            <div class="container-fluid px-5">
                <form th:action="@{/services/update}" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="id" th:value="${service.id}">
                    <input type="hidden" name="date" th:value="${#temporals.format(service.date, 'dd.MM.yyyy - HH:mm')}">
                    <input type="hidden" name="bannerId" th:value="${service.bannerPhotoDTO?.id}">
                    <input type="hidden" name="previewId" th:value="${service.previewPhotoDTO?.id}">

                    <div class="d-flex gap-5 mb-4 align-items-start">
                        <!-- Банер -->
                        <div class="d-flex flex-column gap-2">
                            <label for="preview" class="form-label" style="font-size: 20px; color: #333;">Банер</label>
                            <div  th:switch="${service.bannerPhotoDTO}">
                                <div th:case="null">
                                    <img th:src="@{'/img/proxy-image.png'}" alt="Банер"
                                         id="bannerImageDefault"
                                         style="width: 300px; height: 150px;
                                         object-fit: contain;
                                         border: 1px solid #ccc; border-radius: 4px;
                                         background-color: #f8f9fa;"
                                         class="rounded">
                                </div>
                                <div th:case="*">
                                    <img th:src="@{${service.bannerPhotoDTO.url}}" alt="Банер"
                                         id="bannerImageReal"
                                         style="width: 300px; height: 150px;
                                         object-fit: contain;
                                         border: 1px solid #ccc; border-radius: 4px;
                                         background-color: #f8f9fa;"
                                         class="rounded">
                                </div>
                            </div>
                            <label style="font-weight: bold; font-size: 12px; color: #333;">Рекомендований розмір (1920х800)</label>
                            <input class="form-control" type="file" id="banner" name="banner">
                        </div>

                        <!-- Прев’ю -->
                        <div class="d-flex flex-column gap-2">
                            <label for="preview" class="form-label" style="font-size: 20px; color: #333;">Превʼю</label>
                            <div  th:switch="${service.previewPhotoDTO}">
                                <div th:case="null">
                                    <img th:src="@{'/img/proxy-image.png'}" alt="Превʼю"
                                         id="previewImageDefault"
                                         style="width: 300px; height: 150px;
                                         object-fit: contain;
                                         border: 1px solid #ccc; border-radius: 4px;
                                         background-color: #f8f9fa;"
                                         class="rounded">
                                </div>
                                <div th:case="*">
                                    <img th:src="@{${service.previewPhotoDTO.url}}" alt="Превʼю"
                                         id="previewImageReal"
                                         style="width: 300px; height: 150px;
                                         object-fit: contain;
                                         border: 1px solid #ccc; border-radius: 4px;
                                         background-color: #f8f9fa;"
                                         class="rounded">
                                </div>
                            </div>
                            <label style="font-weight: bold; font-size: 12px; color: #333;">Рекомендований розмір (500×350)</label>
                            <input class="form-control" type="file" id="preview" name="preview">
                        </div>
                    </div>
                    <!-- Назва -->
                    <div class="mb-4">
                        <label for="name" class="form-label">Назва</label>
                        <div class="input-group">
                            <input type="text"
                                   class="form-control"
                                   id="name"
                                   name="title"
                                   th:value="${service.title}"
                                   placeholder="Введіть назву послуги"
                                   required>
                            <!-- Статус -->
                            <div class="input-group-text">
                                <input class="form-check-input mt-0"
                                       type="checkbox"
                                       id="visible"
                                       th:checked="${service.status.name() == 'SHOW'}"
                                       onchange="document.getElementById('visibleStatus').value = this.checked ? 'SHOW' : 'HIDE'">
                                <label for="visible" class="ms-2 mb-0">Відображати</label>
                                <input type="hidden" name="status" id="visibleStatus"
                                       th:value="${service.status.name()}">
                            </div>
                        </div>
                    </div>

                    <!-- Опис -->
                    <div class="mb-4">
                        <label for="description" class="form-label">Опис</label>
                        <textarea class="form-control"
                                  id="description"
                                  name="description"
                                  rows="4"
                                  th:text="${service.description}"
                                  placeholder="Введіть опис послуги"
                                  required>
                        </textarea>
                    </div>

                    <!-- Кнопки -->
                    <div class="d-flex justify-content-end gap-2">
                        <a th:href="@{/services}" class="btn btn-secondary">Скасувати</a>
                        <button type="submit" class="btn btn-primary">Зберегти</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>