<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/adminlte/dist/css/adminlte.min.css">

</head>
    <body>
        <div th:fragment="admin-header" class="card w-100">
            <div class="topbar bg-light border-bottom d-flex align-items-center px-0" style="height: 70px;">
                <div class="header-cell border-end d-flex align-items-center justify-content-center" style="height: 100%; width: 199px">
                    <img src="/img/label-royal-house.png" alt="Лейбл меню" style="height: 70px;">
                </div>

                <div class="header-cell border-end px-3 d-flex align-items-center justify-content-center"  style="height: 100%; width: 60px;">
                    <img src="/img/button---.png" alt="кнопка меню" style="height: 20px;">
                </div>

                <div class="header-cell border-end px-3 d-flex align-items-center w-75"  style="height: 100%;">
                    <span class="fw-normal">Панель адміністратора</span>
                </div>

                <div class="header-cell px-3 d-flex align-items-center justify-content-end"  style="height: 100%;">
                    <img src="/adminlte/dist/assets/img/avatar.png" alt="аватар" style="height: 40px; padding-right: 20px">
                    <span class="fw-normal">Аватар Аватарович</span>
                </div>
            </div>
        </div>
    </body>
</html>