<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/adminlte/dist/css/adminlte.css">
</head>
<body>
<div th:fragment="sidebar" class="main-sidebar" style="width: 200px">
    <div class="card-body p-0">
        <table class="table table-bordered table-hover table-sm w-100 fs-7">
            <tbody>
            <tr><td style="padding-top: 6px; padding-bottom: 6px;">
                <a th:href="@{/viewings}" class="text-decoration-none d-block">Заявки</a>
            </td></tr>
            <tr><td style="padding-top: 6px; padding-bottom: 6px;">
                <a th:href="@{/properties}" class="text-decoration-none d-block">Об'єкти</a>
            </td></tr>
            <tr><td style="padding-top: 6px; padding-bottom: 6px;">
                <a th:href="@{/new-buildings}" class="text-decoration-none d-block">Новобудови</a>
            </td></tr>
            <tr><td style="padding-top: 6px; padding-bottom: 6px;">
                <a th:href="@{/services}" class="text-decoration-none d-block">Послуги</a>
            </td></tr>
            <tr><td style="padding-top: 6px; padding-bottom: 6px;">Налаштування</td></tr>
            <tr><td style="padding-top: 6px; padding-bottom: 6px;">-Контакти</td></tr>
            <tr><td style="padding-top: 6px; padding-bottom: 6px;">-Фіксація об'єктів</td></tr>
            <tr><td style="padding-top: 6px; padding-bottom: 6px;">-Вторинний ринок</td></tr>
            <tr><td style="padding-top: 6px; padding-bottom: 6px;">-Послуги</td></tr>
            <tr><td style="padding-top: 6px; padding-bottom: 6px;">-Про нас</td></tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>