<!-- building/tabs.html -->
<div th:fragment="tabs(activeTab)">
    <ul class="nav nav-tabs custom-tabs">
        <li class="nav-item">
            <a class="nav-link" th:classappend="${activeTab == 'main'} ? ' active'" href="#">Основне</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:classappend="${activeTab == 'project'} ? ' active'" href="#">Про проєкт</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:classappend="${activeTab == 'location'} ? ' active'" href="#">Місцеположення</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:classappend="${activeTab == 'infra'} ? ' active'" href="#">Інфраструктура</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:classappend="${activeTab == 'apartments'} ? ' active'" href="#">Квартири</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:classappend="${activeTab == 'panorama'} ? ' active'" href="#">Панорама</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:classappend="${activeTab == 'specification'} ? ' active'" href="#">Специфікація</a>
        </li>
    </ul>
</div>
