<!-- building/tabs.html -->
<div th:fragment="tabs(activeTab)">
    <ul class="nav nav-tabs custom-tabs">
        <li class="nav-item">
            <a href="#" class="nav-link active" data-tab="main">Основне</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link" data-tab="project">Про проєкт</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-tab='location' href="#">Місцеположення</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-tab='infra' href="#">Інфраструктура</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-tab='apartments' href="#">Квартири</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-tab='panorama' href="#">Панорама</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-tab='specification' href="#">Специфікація</a>
        </li>
    </ul>
</div>
